.card:hover {
  background-color: #f1ecec;
}

.is-featured {
  background-color: #e31b1b;
}
.plan-price:hover {
  background-color: #e31b1b;
}

.menu a {
  color: white;
  font-weight: lighter;
}

.menu li a {
  color: white;
}

.dropdown li a:hover {
  color: #f80c0c;
}

.dropdown li a {
  color: black;
}

.instant-logo {
  background-color: #e75151;
  text-transform: uppercase;
  text-decoration: solid 3px underline;
}

/*google fonts*/
body {
  /* adding the max-width and height to avoid over-floating */
  max-width: 100vw;
  max-height: 100vh;
}

/* updating images for the pizza carousel */
.d-block {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* container wrapping the toast */
.pop-up {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* for the image of the lady eating pizza in the toast */
.pop-up-img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: block;
  border-radius: 50%;
}

.darkMode {
  border-radius: 50%;
}
