body{
  font-family: "Titillium Web", sans-serif;
  }  

/* navbar ul (everything on the navbar ul like navigation; home, menu , track order etc */
nav ul {
  font-size: 15px;
}
/* testimonial card */
.testimonial-card:hover {
  background-color: #ff3d3d;
  color:white;
  border-radius: 20px;
  padding:10px;
}
.testimonial-card h3{
  text-transform: capitalize;
}

/* dropdown for the <a> tag navbar navigation on hover */
.dropdown li a:hover {
  color: #f80c0c;
}




/*google fonts*/

body {
  /* adding the max-width and height to avoid over-floating */
  max-width: 100vw;
  max-height: 100vh;
}

/* updating images for the pizza carousel */
.d-block {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* dark mode icon on the top navbar */
.darkMode {
  border-radius: 50%;
 background-color: #ff3d3d;
 border:none;
}

/* Background image styles */
.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Photos/landingPage-img.png') center/cover no-repeat;
  width: 100%;
  height: 100%;
}


/* the car image */
.logo-img{
 width: 70px;

}

/* Responsiveness on smaller devices */

/*remove the top header cta and paragraph */
@media screen and (max-width: 480px) {
  .top-header-cta, .top-p-cta {
    display: none !important;
  }  /* The marquee will remain visible */
}

/* remove the background landing page image on a smaller screen*/
@media screen and (max-width: 767px) {
  .bg-image {
    background-image: none !important;
    background-color: black !important;
  }
}
 /* for the navbar to align in the middle */
@media screen and (max-width: 912px){
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
  }
  
}

